services:
  nginx:
    build:
      context: ./requirements/nginx
    container_name: nginx
    image: nginx_img
    restart: always
    volumes:
      - ./requirements/nginx/conf/:/etc/nginx/http.d/
      - ./requirements/nginx/tools:/etc/nginx/ssl/
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    ports:
      - 80:80
      - 443:443
    networks:
      - inception
    environment:
      - NGINX_HOST=foobar.com
      - NGINX_PORT=80
  mariadb:
    build:
      context: .
      dockerfile: requirements/mariadb/Dockerfile
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
        DB_PASS: ${DB_PASS}
        DB_ROOT: ${DB_ROOT}
    container_name: mariadb
    image: mariadb_img
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    restart: always
  wordpress:
    build:
      context: ./requirements/wordpress
    container_name: wordpress
    image: wordpress_img
    restart: always
    depends_on:
      - mariadb
    ports:
      - 9000:9000
    networks:
      - inception
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${DB_PASS}
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_TITLE: ${WP_TITLE}
      WORDPRESS_ADM_NAME: ${ADM_WP_NAME}
      WORDPRESS_ADM_PASS: ${ADM_WP_PASS}
      WORDPRESS_ADM_EMAIL: ${ADM_WP_EMAIL}
      WORDPRESS_USERNAME: ${WP_USERNAME}
      WORDPRESS_USER_EMAIL: ${WP_USEREMAIL}
      WORDPRESS_USER_PASS: ${WP_USERPASS}
      WORDPRESS_HOST: ${WP_HOST}
    volumes:
      - wordpress:/var/www/html
    #  - /home/${USER}/data/wordpress:/var/www/html

volumes:
  wordpress:
    name: wordpress
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/wordpress
  mariadb:
    name: mariadb
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/mariadb

networks:
    inception:
        name: inception
        driver: bridge
        ipam:
          config:
            - subnet: 172.28.0.0/16